.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.width-50 {
  width: calc(50% - 10px);
  margin: 0 5px;
}

.width-100 {
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 1.7rem;
  margin-top: 0 !important;
}
.container form p {
  color: #6a6e71;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
.container .form label {
  display: block;
  color: #3f3f3f;
  margin: 0.7rem 0;
}
.container .form input,
.container .form select {
  background-color: #9193943a;
  border: 0;
  border-bottom: 2px solid #3f3f3f;
  color: #444;
  padding: 0.4rem 1.4rem;
  width: 100%;
  margin-bottom: 4px;
}
.container .form textarea {
  display: block;
  background-color: #9193943a;
  border: 0;
  border-bottom: 2px solid #3f3f3f;
  color: #444;
  padding: 0.4rem 1.4rem;
  border: 0;
  width: 98%;
  margin-bottom: 4px;
  height: 100px;
  resize: vertical;
}
.container .buttons {
  display: flex;
}
button,
input[type="submit"] {
  width: 180px;
  padding: 0.3em 1.2em;
  margin: 14px 8px;
  border: 1px solid #ffffff00;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #2969df;
}
.container > form {
  width: 180px;
  margin: 0 8px;
}
.delete {
  background-color: #f14e4e;
  width: 180px;
  padding: 3px 10px;
  margin: 8px 7px;
  border: 1px solid #ffffff00;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.cancel {
  width: 180px;
  padding: 0.3em 1.2em;
  margin: 14px 8px;
  display: inline-block;
  border: 1px solid #ffffff00;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: #575555;
  text-align: center;
}
@media (max-width: 786px) {
  .container .buttons {
    flex-wrap: wrap;
  }
}
