table {
  font-family: Poppins, Arial, Tahoma;
  font-size: 17px;
  color: #4e4e4e;
  padding: 14px;
  width: 100%;
  text-align: start;
}

table tbody.one-column tr {
  grid-template-columns: 20% 1fr;
}

table tbody.two-column tr {
  grid-template-columns: 20% 30% 20% 30%;
}

table tr {
  padding: 14px 0;
  display: grid;
  align-items: center;
  width: 100%;

  border-bottom: 1px solid #ccc;
}

a.action {
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  padding: 14px;
  margin: 4px;
  color: #fff;
  font-size: 22px;

  cursor: pointer;
}
a.action.edit {
  background-color: #2b7bdd;
}
a.action.delete {
  background-color: #d43535;
}

table tr th.actions {
  display: flex;
}
