.buttons {
  margin-bottom: 14px;
}
.buttons .button {
  display: inline-block;
  min-width: 140px;
  color: #fff;
  border-radius: 4px;
  padding: 4px 14px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.4s;
  user-select: none;
}
.buttons .button.excel {
  background-color: #2ecc71;
}
.buttons .button.excel:hover {
  background-color: #27ae60;
}
.buttons .button.csv {
  background-color: #f1c40f;
}
.buttons .button.csv:hover {
  background-color: #f39c12;
}
.buttons .button.import {
  background-color: #446185;
  border: none;
}
.buttons .button.import:hover {
  background-color: #304968;
}

section .grid {
  width: 100%;
  border-collapse: collapse;
  margin: 18px 0;
}
section .grid tr {
  border: none;
  border-bottom: 0.4px solid #ddd;
  border-top: 0.4px solid #ddd;
}
section .grid tr td,
section .grid tr th {
  text-align: center;
  padding: 6px 0;
  border: none;
}
section .grid tr th {
  color: #777;
}
section .grid tr th:first-of-type {
  padding-right: 10px;
}
section .grid tr:nth-child(even) {
  background-color: #fff;
}
section .grid tr td img {
  height: 44px;
}
section .grid tr td a {
  color: revert;
  text-decoration: revert;
}
section .grid tr td a.info {
  background-color: #446185;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  padding: 4px;
  margin: 0 2px;
  color: #fff;
  font-size: 28px;
}
section .grid tr td a {
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  text-decoration: none;
  padding: 4px;
  margin: 0 2px;
  color: #fff;
  font-size: 22px;

  cursor: pointer;
}
section .grid tr td a.edit {
  background-color: #2b7bdd;
}
section .grid tr td a.delete {
  background-color: #d43535;
}
.fill-text {
  color: #eb5454;
  font-size: 1.5rem;
}
a.add {
  position: absolute;
  top: 40px;
  right: 18px;
  width: 8rem;
  height: 4rem;
  background-color: #2c3e50;
  color: #fefefe;
  font-size: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  section table {
    font-size: 14px;
  }
  main {
    grid-template-columns: 1fr;
  }
  main nav .show-dashboard {
    display: block;
  }
  main .dashboard {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 8;
    overflow: auto;
  }
  main .dashboard .x {
    display: block;
  }
}
.three-lines {
  line-height: 1.5;
  font-size: 15px;
  padding: 4px 7px !important;
  display: -webkit-box;
  display: box;
  width: 100%;
  max-height: calc(15px * 1.5 * 3);
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.operation_Delete {
  background-color: #d43535;
  color: white;
}

.operation_Update {
  background-color: #3490dc;
  color: white;
}

.operation_Insert {
  background-color: #4f8a10;
  color: white;
}

.operation_Fusionner {
  background-color: orange;
  color: white;
}

.d-flex {
  display: flex;
  align-items: center;
}
